@use 'module' as media;

@media (media.mobile()) {
	._not-mobile {
		display: none !important;
	}
}

@media (media.notMobile()) {
	._mobile {
		display: none !important;
	}
}

@media (media.tablet()) {
	._not-tablet {
		display: none !important;
	}
}

@media (media.notTablet()) {
	._tablet {
		display: none !important;
	}
}

@media (media.desktop()) {
	._not-desktop {
		display: none !important;
	}
}

@media (media.notDesktop()) {
	._desktop {
		display: none !important;
	}
}

@media (media.landscape()) {
	._portrait {
		display: none !important;
	}
}

@media (media.portrait()) {
	._landscape {
		display: none !important;
	}
}
