@use 'sass:map';
@use './config/media.json' as config;

//noinspection SassScssUnresolvedVariable
$breakpoints: config.$breakpoints;

//noinspection SassScssUnresolvedVariable
$defaults: config.$defaults;

@function bp(
	$device: map.get($defaults, device ),
	$segment: map.get( $defaults, segment ),
	$unit: map.get( $defaults, unit )
) {
	@return map.get(map.get($breakpoints, $device), $segment) + $unit;
}

@function min(
	$device: map.get( $defaults, device ),
	$segment: map.get( $defaults, segment ),
	$unit: map.get( $defaults, unit )
) {
	@return #{ '(min-width:' + bp($device, $segment, $unit) + ')' };
}

@function max(
	$device: map.get( $defaults, device ),
	$segment: map.get( $defaults, segment ),
	$unit: map.get( $defaults, unit )
) {
	@return #{ '(max-width:' + ( bp($device, $segment, $unit) - 1 ) + ')' };
}

@function mobile() {
	@return max(tablet, sm);
}

@function notMobile() {
	@return min(tablet, sm);
}

@function tablet() {
	@return min(tablet, sm) + ' and ' + max(desktop, sm);
}

@function notTablet() {
	@return max(tablet, sm) + ' and ' + min(desktop, sm);
}

@function desktop() {
	@return min(desktop, sm);
}

@function notDesktop() {
	@return max(desktop, sm);
}

@function landscape() {
	@return #{ '(orientation: landscape)' };
}

@function portrait() {
	@return #{ '(orientation: portrait)' };
}
