@use 'sass:map';
@use './config/media.json' as config;

//noinspection SassScssUnresolvedVariable
$bp: config.$breakpoints;

//noinspection SassScssUnresolvedVariable
@function bp(
	$device: map-get( config.$defaults, device ),
	$segment: map-get( config.$defaults, segment ),
	$unit: map-get( config.$defaults, unit )
) {
	@return map.get(map.get($bp, $device), $segment) + $unit;
}

//noinspection SassScssUnresolvedVariable
@function min(
	$device: map-get( config.$defaults, device ),
	$segment: map-get( config.$defaults, segment ),
	$unit: map-get( config.$defaults, unit )
) {
	@return #{ 'min-width:' + bp($device, $segment, $unit) };
}

//noinspection SassScssUnresolvedVariable
@function max(
	$device: map-get( config.$defaults, device ),
	$segment: map-get( config.$defaults, segment ),
	$unit: map-get( config.$defaults, unit )
) {
	@return #{ 'max-width:' + bp($device, $segment, $unit) - 1 };
}
