@use 'sass:math';
@use '../../../style/layout/data.scss' as layout;
@use '../../../style/colors/data.scss' as colors;

.ui-checkbox {
	display: flex;
	width: fit-content;
	cursor: pointer;

	&__input {
		display: block;
		position: absolute;
		opacity: 0;
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: center;
		width: math.div(layout.$gap, 2);
		height: math.div(layout.$gap, 2);
		border: 1px solid colors.getColor('text');
		position: relative;
	}

	&__icon {
		display: block;
		width: math.div(layout.$gap, 2) - 6px;
		fill: colors.getColor('text');
	}

	&__text {
		margin-left: math.div(layout.$gap, 2);
	}

	&__caption {

	}

	&__message {
		margin-top: math.div(layout.$gap, 6);
		font-size: 12px;
	}

	&._required &__caption:after {
		content: '*';
		color: colors.getColor('danger');
	}

	&._success &__text,
	&._success &__message {
		color: colors.getColor('success');
	}

	&._success &__box {
		border-color: colors.getColor('success');
	}

	&._success &__icon {
		fill: colors.getColor('success');
	}

	&._error &__text,
	&._error &__message {
		color: colors.getColor('danger');
	}

	&._error &__box {
		border-color: colors.getColor('danger');
	}

	&._error &__icon {
		fill: colors.getColor('danger');
	}

	&._disabled {
		cursor: default;
		pointer-events: none;
	}

	&._disabled &__box {
		border-color: colors.getColor('muted');
	}

	&._disabled &__icon {
		fill: colors.getColor('muted');
	}

	&._disabled &__text {
		color: colors.getColor('muted');
	}
}
