{
	"extends": [
		"plugin:react/recommended",
		"airbnb/base"
	],
	"rules": {
		"arrow-body-style": "off",
		"class-methods-use-this": "off",
		"import/prefer-default-export": "off",
		"indent": ["error", "tab"],
		"max-len": ["error", 120],
		"no-console": "off",
		"no-tabs": "off",
		"space-in-parens": ["error", "always"]
	}
}
