{
	"root": true,
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": [
		"eslint:recommended",
		"airbnb",
		"airbnb/hooks",
		"plugin:react/recommended",
		"plugin:import/errors",
		"plugin:import/warnings",
		"plugin:jsx-a11y/recommended",
		"prettier"
	],
	"plugins": [
		"react",
		"react-hooks",
		"jsx-a11y",
		"import"
	],
	"rules": {
		"react/forbid-prop-types": 0,
		"react/react-in-jsx-scope": "off",
		"react/prefer-stateless-function": 0,
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [
					".js",
					".jsx",
					".ts"
				]
			}
		]
	},
	"overrides": [
		{
			"files": [
				"src/pages/_app.js"
			],
			"rules": {
				"react/prop-types": 0,
				"react/jsx-props-no-spreading": 0
			}
		}
	]
}
