@use 'sass:math';
@use '../../../style/modules/layout/module' as layout;
@use '../../../style/modules/color/module' as colors;

.icon {
	display: block;
	height: math.div(layout.$gap, 1.5);
	fill: colors.get(text);

	&._clickable {
		cursor: pointer;
	}
}
