@use 'sass:math';
@use '/src/style/layout/module' as layout;
@use '/src/style/colors/module' as colors;

.base-icon {
	display: block;
	height: math.div( layout.$gap, 1.5 );
	fill: colors.getColor( text );

	&._size_sm {
		height: math.div( layout.$gap, 2 );
	}

	&._size_lg {
		height: layout.$gap;
	}
}
