@use 'sass:map';

$colors: (
	primary: #8f6ae7,
	primary-light: #c0a9f8,
	primary-dark: #593c9b,

	secondary: #5e1c00,
	secondary-light: #963a13,
	secondary-dark: #3b1201,

	success: #05d305,
	success-light: #b4ffb4,
	success-dark: #127012,

	error: #eb0d0d,
	error-light: #ee9e9e,
	error-dark: #9a0d0d,

	info: #00afe3,
	info-light: #a8eaff,
	info-dark: #056c8c,

	muted: #c1c1c1,
	muted-light: #eaeaea,
	muted-dark: #a1a1a1,

	text: #000000,
	back: #ffffff,
);

@function get($key: primary) {
	@return map.get($colors, $key);
}
