@use 'sass:map';

$colors: (
	primary: #a680ff,
	primary-light: #c0a9f8,
	primary-dark: #593c9b,

	secondary: #5e1c00,
	secondary-light: #963a13,
	secondary-dark: #3b1201,

	success: #05d305,
	success-light: #b4ffb4,
	success-dark: #127012,

	warning: #ffd231,
	warning-light: #ffe28e,
	warning-dark: #af8b14,

	danger: #eb0d0d,
	danger-light: #ee9e9e,
	danger-dark: #9a0d0d,

	info: #00afe3,
	info-light: #a8eaff,
	info-dark: #056c8c,

	muted: #c1c1c1,
	muted-light: #eaeaea,
	muted-dark: #a1a1a1,

	text: #232323,
	text-light: #606060,
	text-dark: #343434,

	back: #f6f6f6,
	back-light: #d5d5d5,
	back-dark: #b0b0b0,

	black: #000000,
	white: #ffffff,
);

@function get($key: primary) {
	@return map.get($colors, $key);
}
