@use 'sass:math';
@use 'module' as typography;
@use '../layout/module' as layout;

h1,
.h1 {
	@include typography.h1;

	&:not(:last-child) {
		margin-bottom: layout.$gap;
	}
}

h2,
.h2 {
	@include typography.h2;

	&:not(:last-child) {
		margin-bottom: layout.$gap;
	}
}

h3,
.h3 {
	@include typography.h3;

	&:not(:last-child) {
		margin-bottom: layout.$gap;
	}
}

h4,
.h4 {
	@include typography.h4;

	&:not(:last-child) {
		margin-bottom: layout.$gap;
	}
}

h5,
.h5 {
	@include typography.h5;

	&:not(:last-child) {
		margin-bottom: layout.$gap;
	}
}

h6,
.h6 {
	@include typography.h6;

	&:not(:last-child) {
		margin-bottom: math.div(layout.$gap, 2);
	}
}

p {
	@include typography.p;

	&._lg {
		@include typography.p_lg;
	}

	&._sm {
		@include typography.p_sm;
	}

	&._b {
		font-weight: bold;
	}

	& + & {
		margin-top: math.div(layout.$gap, 2);
	}

	a {
		@include typography.a;
	}
}

._footnote {
	@include typography.footnote;
}
