@use 'sass:math';
@use '../../../style/modules/layout/module' as layout;

.row {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin-left: math.div(layout.$gap, -2);
	margin-right: math.div(layout.$gap, -2);

	&._align-h {
		$variants: (
			start: flex-start,
			end: flex-end,
			between: space-between,
			around: space-around,
			center: center,
			stretch: stretch,
		);

		@each $key, $value in $variants {
			&_#{$key} {
				justify-content: $value;
			}
		}
	}

	&._align-v {
		$variants: (
			start: flex-start,
			end: flex-end,
			center: center,
			stretch: stretch,
		);

		@each $key, $value in $variants {
			&_#{$key} {
				align-items: $value;
			}
		}
	}

	&._reverse {
		flex-direction: row-reverse;
	}
}
