@import 'lib/_colors.scss';

$offset: 32px;

$breakpoints: (
	'mobile': (
		'sm': 375px,
		'md': 414px,
		'lg': 640px,
	),
	'tablet': (
		'sm': 768px,
		'md': 992px,
		'lg': 1024px,
	),
	'desktop': (
		'sm': 1280px,
		'md': 1440px,
		'lg': 1680px,
	),
);

@function breakpoint( $device: 'mobile', $size: 'sm' ) {
	@return map-get(map-get($breakpoints, $device), $size);
}

@function toRem($value) {
	@return $value / 16 + rem;
}

$duration: 0.3s;

:root {
	--transition: all #{$duration} ease;
}
