@import './src/styles/_global.scss';

.button {
	width: fit-content;
	position: relative;
	&:hover, {
		.fill {
			//background-color: var(--thm-default-light);
		}
	}
}

.body {
	display: block;
	border: 1px solid transparent;
	border-radius: 0;
	padding: $offset/4 $offset/2;
	position: relative;
	color: var(--clr-text-inverse);
	background: none;
	cursor: pointer;
}

.fill {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--thm-default);
	transition: var(--transition);
}

._disabled {
	.fill {
		background-color: var(--thm-disabled);
	}
}

._status_success {
	.fill {
		background-color: var(--thm-success);
	}
}

.error {
	.fill {
		background-color: var(--thm-error);
	}
}

._status_warning {
	.fill {
		background-color: var(--thm-warning);
	}
}
