@use 'sass:math';
@use 'sass:map';
@use '../../../style/modules/layout/module' as layout;
@use '../../../style/modules/font/module' as font;
@use '../../../style/modules/media/module' as media;
@use '../../../style/modules/color/module' as color;

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: fit-content;
	padding: math.div(layout.$gap, 3) math.div(layout.$gap, 2);
	border: 1px solid color.get(text);
	font-family: font.$primary;
	font-size: 14px;
	color: color.get(back);
	text-align: center;
	background: color.get(text);
	transition: layout.$transition;
	will-change: background, color, border-color;
	cursor: pointer;

	&__icon {
		height: 14px;
		margin-right: 14px;
		fill: color.get(back);
		transition: inherit;
		will-change: inherit;

		&:last-child {
			margin-right: 0;
		}
	}

	&._wide {
		width: 100%;
	}

	&._template_ghost {
		color: color.get(text);
		background: transparent;
	}

	&._template_ghost &__icon {
		fill: color.get(text);
	}

	&:hover,
	&:focus-visible {
		outline: none;
		border-color: color.get(muted-dark);
		color: color.get(back);
		background: color.get(muted-dark);
	}

	&._template_ghost:hover &__icon,
	&._template_ghost:focus-visible &__icon{
		fill: color.get(back);
	}

	/* Theme inverse */
	&._theme_inverse {
		border-color: color.get(back);
		color: color.get(text);
		background: color.get(back);
	}

	&._theme_inverse &__icon {
		fill: color.get(text);
	}

	&._theme_inverse._template_ghost {
		border-color: color.get(back);
		color: color.get(back);
		background: transparent;
	}

	&._theme_inverse._template_ghost &__icon {
		fill: color.get(back);
	}

	&._theme_inverse:hover,
	&._theme_inverse:focus-visible {
		border-color: color.get(muted-dark);
		color: color.get(back);
		background: color.get(muted-dark);
	}

	&._theme_inverse:hover &__icon,
	&._theme_inverse:focus-visible &__icon {
		fill: color.get(back);
	}

	/* Theme primary */
	&._theme_primary {
		border-color: color.get(primary);
		color: color.get(back);
		background: color.get(primary);
	}

	&._theme_primary &__icon {
		fill: color.get(back);
	}

	&._theme_primary:hover,
	&._theme_primary:focus-visible {
		border-color: color.get(primary-light);
		background: color.get(primary-light);
	}

	&._theme_primary._template_ghost {
		border-color: color.get(primary);
		color: color.get(primary);
		background: transparent;
	}

	&._theme_primary._template_ghost &__icon {
		fill: color.get(primary);
	}

	&._theme_primary._template_ghost:hover,
	&._theme_primary._template_ghost:focus-visible {
		border-color: color.get(primary-light);
		color: color.get(back);
		background: color.get(primary-light);
	}

	&._theme_primary._template_ghost:hover &__icon,
	&._theme_primary._template_ghost:focus-visible &__icon {
		fill: color.get(back);
	}

	/* Secondary primary */
	&._theme_secondary {
		border-color: color.get(secondary);
		color: color.get(back);
		background: color.get(secondary);
	}

	&._theme_secondary &__icon {
		fill: color.get(back);
	}

	&._theme_secondary:hover,
	&._theme_secondary:focus-visible {
		border-color: color.get(secondary-light);
		background: color.get(secondary-light);
	}

	&._theme_secondary._template_ghost {
		border-color: color.get(secondary);
		color: color.get(secondary);
		background: transparent;
	}

	&._theme_secondary._template_ghost &__icon {
		fill: color.get(secondary);
	}

	&._theme_secondary._template_ghost:hover,
	&._theme_secondary._template_ghost:focus-visible {
		border-color: color.get(secondary-light);
		color: color.get(back);
		background: color.get(secondary-light);
	}

	&._theme_secondary._template_ghost:hover &__icon,
	&._theme_secondary._template_ghost:focus-visible &__icon {
		fill: color.get(back);
	}

	/* Disabled */
	&._disabled {
		border-color: color.get(muted);
		color: color.get(muted-light);
		background: color.get(muted);
		pointer-events: none;
		cursor: default;
	}

	&._template_ghost._disabled {
		border-color: color.get(muted);
		color: color.get(muted);
		background: transparent;
	}
}
