@use "sass:math";

@import './src/styles/_global.scss';

.button {
	width: fit-content;
	position: relative;
}

.body {
	display: block;
	width: 100%;
	border: none;
	border-radius: 0;
	padding: math.div($offset, 4) math.div($offset, 2);
	position: relative;
	color: var(--clr-text-inverse);
	text-align: center;
	background: none;
	cursor: pointer;
	transition: var(--transition);
}

.fill {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--thm-default);
	transition: var(--transition);
}

._full {
	width: 100%;
}

._ghost {
	.fill {
		border: 1px solid var(--thm-default);
	}
}

._disabled {
	.fill {
		background-color: var(--thm-disabled);
	}
}

._status {
	@each $status, $values in $statuses {
		&_#{$status} {
			.fill {
				background-color: map-get($values, 'default');
			}

			&._ghost {
				.fill {
					border-color: map-get($values, 'default');
					background-color: transparent;
				}

				.body {
					color: map-get($values, 'default');
				}
			}

			&:hover {
				.fill {
					border-color: map-get($values, 'hover');
					background-color: map-get($values, 'hover');
				}
				.body {
					color: var(--clr-text-inverse);
				}
			}
		}
	}
}
