@use 'sass:math';
@use 'sass:color';
@use '../../../style/colors/module' as colors;
@use '../../../style/fonts/module' as fonts;
@use '../../../style/layout/module' as layout;
@use '../../../style/typography/module' as typography;

$themes: (
	primary: text,
	secondary: back,
	success: back,
	warning: text,
	danger: back,
	info: text,
);

.ui-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	border-width: 1px;
	border-style: solid;
	font-size: 14px;
	line-height: 1;
	font-family: fonts.$primary;
	white-space: nowrap;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	appearance: none;
	transition: all layout.$dur ease;

	&__icon {
		transition: all layout.$dur ease;
	}

	&__caption + &__icon {
		margin-left: math.div(layout.$gap, 2);
	}

	&:focus {
		outline: none;
	}

	&._wide {
		width: 100%;
	}

	@each $theme, $text in $themes {
		&._theme_#{$theme} {
			border-color: colors.getColor($theme);
			color: colors.getColor($text);
			background-color: colors.getColor($theme);
		}

		&._theme_#{$theme} &__icon {
			fill: colors.getColor($text);
		}

		&._theme_#{$theme}._template_ghost {
			color: colors.getColor($theme);
			background-color: transparent;
		}

		&._theme_#{$theme}._template_ghost &__icon {
			fill: colors.getColor($theme);
		}

		&._theme_#{$theme}._template_text {
			border-color: transparent;
			color: colors.getColor($theme);
			background-color: transparent;
		}

		&._theme_#{$theme}._template_text &__icon {
			fill: colors.getColor($theme);
		}

		&._theme_#{$theme}:hover,
		&._theme_#{$theme}._hover {
			border-color: colors.getColor($theme + '-light');
			color: colors.getColor($text);
			background-color: colors.getColor($theme + '-light');
			outline: none;
		}

		&._theme_#{$theme}:hover &__icon,
		&._theme_#{$theme}._hover &__icon {
			fill: colors.getColor($text);
		}

		&._theme_#{$theme}:hover._template_text,
		&._theme_#{$theme}._hover._template_text {
			border-color: transparent;
			color: colors.getColor($theme + '-light');
			text-decoration: underline;
			background-color: transparent;
		}

		&._theme_#{$theme}:hover._template_text &__icon,
		&._theme_#{$theme}._hover._template_text &__icon {
			fill: colors.getColor($theme + '-light');
		}
	}

	&._size {
		&_lg {
			padding: layout.$gap * 0.75 layout.$gap * 1.5;
		}

		&_md {
			padding: math.div(layout.$gap, 2) math.div(layout.$gap, 1.5);
		}

		&_sm {
			font-size: 12px;
			padding: math.div(layout.$gap, 3.5) math.div(layout.$gap, 2);
		}
	}

	&._disabled {
		border-color: colors.getColor('muted');
		color: colors.getColor('back');
		background-color: colors.getColor('muted');
		pointer-events: none;
		cursor: default;

		&._template_ghost {
			border-color: colors.getColor('muted');
			color: colors.getColor('muted');
			background-color: transparent;
		}

		&._template_text {
			border-color: transparent;
			color: colors.getColor('muted');
			background-color: transparent;
		}
	}
}
