@use '/src/style/colors/module' as colors;

&._disabled &__body {
	border-color: colors.getColor(muted);
}

&._disabled &__input {
	color: colors.getColor(muted);

	&::placeholder {
		color: colors.getColor(muted);
	}
}

&._disabled &__caption {
	color: colors.getColor(muted);
}
