@use 'sass:map';
@use './src/style/colors/module' as colors;

$states: (
	success: (
		text: colors.getColor(success),
		border: colors.getColor(success),
		message: colors.getColor(success),
	),
	error: (
		text: colors.getColor(danger),
		border: colors.getColor(danger),
		message: colors.getColor(danger),
	),
);

@each $state, $value in $states {
	&._state_#{$state} &__field {
		border-color: map.get($value, border);
	}

	&._state_#{$state} &__input {
		color: map.get($value, text);
	}

	&._state_#{$state} &__message {
		color: map.get($value, message);
	}
}
