@use 'sass:map';
@use './src/style/colors/module' as colors;

$themes: (
	primary: (
		text: colors.getColor(text),
		border: colors.getColor(primary),
	),
	secondary: (
		text: colors.getColor(text),
		border: colors.getColor(secondary),
	),
);

@each $theme, $value in $themes {
	&._theme_#{$theme}._focus &__body {
		border-color: map.get($value, border);
	}

	&._theme_#{$theme}._focus &__input {
		color: map.get($value, text);
	}
}
