@use 'sass:math';
@use '../../../style/layout/data' as layout;

.markup-container {
	max-width: 1000px;
	padding-left: math.div(layout.$gap, 2);
	padding-right: math.div(layout.$gap, 2);
	margin-left: auto;
	margin-right: auto;

	&._tight {
		padding-left: 0;
		padding-right: 0;
	}

	&._wide {
		max-width: none;
	}
}
