@use 'sass:math';
@use '/src/style/layout' as layout;
@use '/src/style/colors' as colors;

.header {
	padding-top: math.div(layout.$gap, 2);
	padding-bottom: math.div(layout.$gap, 2);
	position: sticky;
	top: 0;
	background-color: colors.getColor('primary');

	.base-logo {
		width: 50px;
	}
}
