@mixin h1 {
	font-weight: 600;
	font-size: 56px;
	line-height: 100%;
	letter-spacing: -0.02em;
}

h1,
.h1 {
	@include h1;
}

@mixin h2 {
	font-weight: 600;
	font-size: 48px;
	line-height: 105%;
	letter-spacing: -0.02em;
}

h2,
.h2 {
	@include h2;
}

@mixin h3 {
	font-weight: 600;
	font-size: 36px;
	line-height: 110%;
	letter-spacing: -0.01em;
}

h3,
.h3 {
	@include h3;
}

@mixin h4 {
	font-weight: 600;
	font-size: 30px;
	line-height: 116%;
	letter-spacing: -0.01em;
}

h4,
.h4 {
	@include h4;
}

@mixin h5 {
	font-weight: 600;
	font-size: 24px;
	line-height: 116%;
	letter-spacing: -0.01em;
}

h5,
.h5 {
	@include h5;
}

@mixin h6 {
	font-weight: 600;
	font-size: 20px;
	line-height: 116%;
	letter-spacing: -0.01em;
}

h6,
.h6 {
	@include h6;
}

@mixin p {
	font-size: 14px;
}

@mixin p_lg {
	font-size: 16px;
}

@mixin p_sm {
	font-size: 12px;
}

@mixin footnote {
	font-size: 12px;
}

p {
	@include p;

	&._lg{
		@include p_lg;
	}

	&._lg{
		@include p_sm;
	}
}

._footnote {
	@include footnote;
}
