@use 'sass:math';
@use '/src/style/colors/module' as colors;
@use '/src/style/fonts/module' as fonts;
@use '/src/style/layout/module' as layout;

.ui-input {
	&__body {
		display: flex;
		border-style: solid;
		border-color: colors.getColor(text);
		transition: border-color layout.$dur ease;
	}

	&__input {
		display: block;
		width: 100%;
		padding: math.div(layout.$gap, 3);
		border: none;
		font-family: fonts.$primary;
		color: colors.getColor(text);
		background-color: transparent;
		resize: none;

		&:focus {
			outline: none;
		}

		&::placeholder {
			color: colors.getColor('muted-dark');
		}
	}

	&__caption {
		margin-bottom: math.div(layout.$gap, 6);
		font-size: 12px;
		color: colors.getColor('text');
	}

	&__message {
		margin-top: math.div(layout.$gap, 6);
		font-size: 12px;
		color: colors.getColor('text');
	}

	&._textarea &__input {
		height: 150px;
	}

	&._textarea._resize &__input {
		resize: vertical;
	}

	&._required &__caption::after {
		content: '*';
		color: colors.getColor('danger');
	}

	&._state_success &__input {
		border-color: colors.getColor('success');
		color: colors.getColor('success');
	}

	&._state_success &__message {
		color: colors.getColor('success');
	}

	&._state_error &__input {
		border-color: colors.getColor('danger');
		color: colors.getColor('danger');
	}

	&._state_error &__message {
		color: colors.getColor('danger');
	}

	&._disabled &__input {
		border-color: colors.getColor('muted');
		color: colors.getColor('muted');

		&::placeholder {
			color: colors.getColor('muted');
		}
	}

	&._disabled &__caption {
		color: colors.getColor('muted');
	}

	&._focus &__body {
		border-color: colors.getColor(primary);
	}

	@import './style/sizes';
}
