@use 'sass:map';
@use './src/style/colors/module' as colors;

&._disabled {
	pointer-events: none;
	cursor: default;
}

//	Default template
&._disabled &__body {
	border-color: transparent;
	background-color: colors.getColor(muted);
}

&._disabled &__caption {
	color: colors.getColor('back');
}

&._disabled &__icon {
	color: colors.getColor('back');
}

//	Ghost template
&._disabled._template_ghost &__body {
	border-color: colors.getColor(muted);
	background-color: transparent;
}

&._disabled._template_ghost &__caption {
	color: colors.getColor(muted);
}

&._disabled._template_ghost &__icon {
	fill: colors.getColor(muted);
}

//	Text template
&._disabled._template_text &__body {
	border-color: transparent;
	background-color: transparent;
}

&._disabled._template_text &__caption {
	color: colors.getColor(muted);
}

&._disabled._template_text &__icon {
	fill: colors.getColor(muted);
}
