@use 'sass:math';
@use '../../../style/modules/layout/module' as layout;

$colsMin: 1;
$colsMax: 12;

@function getColSize($col: 1, $max: $colsMax) {
	@return #{math.div($col, $max) * 100 + '%'};
}

.col {
	box-sizing: border-box;
	padding-left: math.div(layout.$gap, 2);
	padding-right: math.div(layout.$gap, 2);

	&._cols {
		@for $col from $colsMin through $colsMax {
			&_#{$col} {
				flex-shrink: 0;
				width: getColSize($col);
			}
		}

		&_auto {
			width: auto;
		}
	}

	&._offset {
		@for $col from $colsMin through $colsMax {
			&_#{$col} {
				margin-left: getColSize($col);
			}
		}

		&_auto {
			margin-left: auto;
		}
	}
}
