@use 'style/colors/module' as colors;
@use 'style/fonts/module' as fonts;
@use 'style/layout/module' as layout;
@use 'style/media/module' as media;
@use 'style/typography/module' as typography;

@import './style/colors/index';
@import './style/fonts/index';
@import './style/layout/index';
@import 'style/media/index';
@import './style/typography/index';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: fonts.$primary;
	color: colors.getColor('text');
	background-color: colors.getColor('back');
}

.page {
	&._fade {
		opacity: 0;
	}
}
