@use './style/layout.scss' as layout;
@use './style/fonts.scss' as fonts;
@use './style/media.scss' as media;
@use './style/typography.scss' as typography;

@use './style/colors' as colors;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: fonts.$primary;
	color: colors.getColor('text');
	background-color: colors.getColor('back');
}
