@use 'sass:math';
@use '../../../style/colors/module' as colors;
@use '../../../style/layout/module' as layout;

.ui-tabs {
	&__header {
		display: flex;
		background-color: colors.getColor('muted-light');
	}

	&__body {
		margin-top: layout.$gap;
	}
}
